@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden;
}

body {
    background-color: #F5F5F5;
}

.color-big {
    background-color: #000;
    color: #F5F5F5;
}

a {
    color: #fffcfc;
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.6;
    color: #fdfdff;
}

.divider {
    width: 100%;
    border-radius: 10px;
    height: 1px;
    background-color: #1c1c1c;
    margin: 20px 0;
}

/*--------NAVAR MOVIL------------*/
@media (max-width: 767px) {
    header {
        padding: 22px;
        background-color: #000;
        height: 100vh;
        max-width: 250px;
        position: relative;
        transition: transform 500ms ease;
        transform: translateX(-100%);
    }

    .btn-nav {
        font-size: 45px;
        color: #fff;
        margin: 11px;
    }

    .close-menu {
        font-weight: 800;
        background-color: #00000002;
    }

    #btn-menu {
        display: none;
    }

    .container-menu {
        position: absolute;
        background: rgba(29, 29, 29, 0.55);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transition: opacity 500ms ease, visibility 500ms ease;
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .container-menu a {
        color: #F5F5F5;
    }

    #btn-menu:checked~.container-menu {
        opacity: 1;
        visibility: visible;
    }

    .cont-menu {
        width: 80%;
        max-width: 312px;
        border-radius: 15px;
        background: #2F2F2F;
        transition: transform 500ms ease;
        transform: translateX(-100%);
    }

    #btn-menu:checked~.container-menu .cont-menu {
        transform: translateX(0%);
    }

    .cont-menu nav {
        text-align: center;
    }

    .cont-menu nav a {
        display: block;
        text-decoration: none;
        padding: 20px;
        border-bottom: 5px solid transparent;
        transition: all 400ms ease;
    }

    .cont-menu nav a:hover {
        border-bottom: 5px solid #949393;
        border-radius: 5px;
        font-size: 19px;
    }

    .cont-menu label {
        position: absolute;
        right: -39px;
        top: -66px;
        color: #fff;
        cursor: pointer;
        font-size: 44px;
    }

    .header {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .container .btn-menu,
    .logo {
        float: left;
        line-height: 100px;
    }

    .container .btn-menu label {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .logo h1 {
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        margin-left: 10px;
    }

    .container .menu {
        float: right;
        line-height: 100px;
    }

    .container .menu a {
        display: inline-block;
        padding: 15px;
        color: #fff;
        transition: border-bottom 0.3s ease;
        border-bottom: 2px solid transparent;
        font-size: 15px;
        margin-right: 5px;
    }

    .container .menu a:hover {
        border-bottom: 2px solid #c7c7c7;
        padding-bottom: 5px;
    }

}

/*----------NAVAR DESKTOP Y TABLET----------*/
@media (min-width: 768px) {
    header {
        padding: 22px;
        background-color: #afafaf;
        height: 100vh;
        max-width: 250px;
        position: relative;
        transition: transform 500ms ease;
        transform: translateX(-100%);
    }

    #btn-menu:checked~.container-menu .cont-menu {
        transform: translateX(0%);
    }

    #btn-menu {
        display: none;
    }

    .container-menu {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transition: opacity 500ms ease, visibility 500ms ease;
        opacity: 0;
        visibility: hidden;
    }

    #btn-menu:checked~.container-menu {
        opacity: 1;
        visibility: visible;
    }

    .cont-menu {
        width: 100%;
        max-width: 250px;
        background: #040404;
        height: 100vh;
        position: relative;
        transition: transform 500ms ease;
        transform: translateX(-100%);
    }

    .cont-menu nav {
        transform: translateY(15%);
    }

    .cont-menu nav a {
        display: block;
        padding: 20px;
        color: #c7c7c7;
        border-bottom: 5px solid transparent;
        transition: border-bottom 400ms ease, background-color 400ms ease;
    }

    .cont-menu nav a:hover {
        border-bottom: 5px solid #353535 ;
        background: #1f1f1f;
    }

    .cont-menu label {
        position: absolute;
        right: 28px;
        top: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 27px;
    }

    .header {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .container .btn-menu,
    .logo {
        float: left;
        line-height: 100px;
    }

    .container .btn-menu label {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .logo h1 {
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        margin-left: 10px;
    }

    .container .menu {
        float: right;
        line-height: 100px;
    }

    .container .menu a {
        display: inline-block;
        padding: 15px;
        color: #fff;
        transition: border-bottom 0.3s ease;
        border-bottom: 2px solid transparent;
        font-size: 15px;
        margin-right: 5px;
    }

    .container .menu a:hover {
        border-bottom: 2px solid #c7c7c7;
        padding-bottom: 5px;
    }
}

/*--------SECTION HOME------------*/
@media (max-width: 767px) {
    .home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 275px;
        height: 55vh;
    }

    .home-section h2 {
        font-size: 2.5em;
        letter-spacing: 10px;
        color: #fff;
    }

    .home-section h4 {
        color: #f5f5dc;
        font-size: 12px;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #1c1c1c;
    }

    .about-me {
        padding: 30px;
        background-color: #F5F5F5;
    }
}

.timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
    position: relative;
}

.timeline__component {
    margin: 0 20px 20px 20px;
}

.timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline__component--bottom {
    margin-bottom: 0;
}

.timeline__middle {
    position: relative;
    background: #1c1c1c;
    width: 3px;
    margin: 0 auto;
}

.timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
    top: initial;
    bottom: 0;
}

.timeline__date--right {
    text-align: right;
}

.timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline__paragraph {
    line-height: 1.5;
}

/* Mobile styles */
@media (max-width: 767px) {
    .timeline {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        padding: 20px;
    }

    .timeline__middle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1c1c1c;
        width: 3px;
        height: 100%;
    }

    .timeline__point {
        width: 12px;
        height: 12px;
        background-color: #1c1c1c;
        display: none;
    }

    .timeline__component--bg {
        padding: 1.2em;
    }

    .timeline__date {
        font-size: 14px;
        color: #1f1f1f;
        position: relative;
        display: none;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 30px;
    }

    /* Line connection for dates */
    .timeline__date:before {
        content: "";
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 3px;
        height: 50%;
        background-color: #1c1c1c;
        z-index: -1;
    }

    .timeline__title {
        font-size: 1.1em;
    }

    .timeline__paragraph {
        font-size: 14px;
    }

    .timeline__component {
        margin: 10px 0;
    }

    .timeline__component--bottom {
        margin-top: 20px;
    }

    .time-date {
        text-align: right;
        margin: 5px 10px;
    }

    .Objective {
        background-color: #F5F5F5;
        padding: 35px;
    }
}




@media (min-width: 768px) {
    .container-menu {
        position: fixed;
        width: 250px;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #1c1c1c;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: none;
    }

    .cont-menu nav {
        margin-top: 35%;
    }

    .color-big {
        background-color: #000;
        color: #F5F5F5;
        margin-left: 250px;
        height: 100vh;
        padding: 20px;
        text-align: center;
        align-content: center;
    }

    .color-big {
        margin-left: 250px;
        padding: 20px;
    }

    .cont-menu {
        transform: none;
        width: 100%;
        max-width: 250px;
        height: 100%;
        background-color: #040404;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont-menu nav a {
        display: block;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        transition: border-left 400ms ease, background-color 400ms ease;
    }

    .cont-menu nav a:hover {
        border-left: 5px solid #c7c7c7;
        background: #1f1f1f;
    }

    .close-menu {
        display: none;
    }

    .btn-menu {
        display: none;
    }

    .about-me {
        margin-left: 21%;
    }

    .time-date {
        display: none;
    }

    .timeline {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        padding: 20px;
    }

    .timeline__middle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1c1c1c;
        width: 3px;
        height: 100%;
    }

    .timeline__point {
        width: 12px;
        height: 12px;
        background-color: #1c1c1c;
        display: none;
    }

    .timeline__component--bg {
        padding: 1.2em;
    }

    .timeline__date {
        font-size: 14px;
        color: #1f1f1f;
        position: relative;
        display: none;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 30px;
    }

    .timeline__date:before {
        content: "";
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 3px;
        height: 50%;
        background-color: #1c1c1c;
        z-index: -1;
    }

    .timeline__title {
        font-size: 1.1em;
    }

    .timeline__paragraph {
        font-size: 14px;
    }

    .timeline__component {
        margin: 10px 0;
    }

    .timeline__component--bottom {
        margin-top: 20px;
    }

    .time-date {
        text-align: right;
        margin: 5px 10px;
    }

    .text-home {
        font-size: 24px;
    }
    .about-me p, h2{
        color: #1c1c1c;
    }
    .about-me {
        padding-top: 40px;
        background-color: #ededed;
        margin-left: 20%;
    }
}
